<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xml:lang="en" lang="en">
<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.extablefilter-latest.js"></script>
-->
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).on('click', '#clicktest', function(){
        $(this).slideUp();
    });

    $(document).on('click', '#truncate', function() {
        $.ajax({
            type: 'POST',
            url: "/list/truncate_session/",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function (json) {
                $("span.selectedShop").html("");
                $("span.selectedWine").html("");
                ;
            },
            error: function (data) {
                alert('error!!!');
            }
        });
    });

    $(document).on('click', '#addcart', function() {
        val = $(this).attr("value");　// valueの取得
        $.ajax({
            type: 'POST',
            data: {'itemid':val},
            dataType: 'JSON',
            url: "/list/update_session/",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function (json) {
                var listShop = [];
                for (var keyString in json.shops) {
                    listShop.push({shopKey: keyString, shopName:json.shops[keyString].shopName, bottle:json.shops[keyString].bottle, sumPrice:json.shops[keyString].sumPrice});
                }
                listShop = listShop.sort(function (a, b) {
                    if(a.bottle < b.bottle) return 1;
                    if(a.bottle > b.bottle) return -1;
                    if(a.sumPrice < b.sumPrice) return -1;
                    if(a.sumPrice > b.sumPrice) return 1;

                });
                var lenShop = listShop.length;
                joinedHTML = "";
                for (var i = 0; i < lenShop; i++) {
                        joinedHTML = joinedHTML + "<input id='shopKey' name='shopFilter' type='checkbox' value=" + listShop[i].shopKey + ">"  + listShop[i].shopName + ' ' + listShop[i].bottle + ' ' + listShop[i].sumPrice + '<br>';
                    }

                $("span.selectedShop").html(joinedHTML);

                var lenWine = json.wines.length;
                joinedHTML = "";
                for (var i = 0; i < lenWine; i++) {
                    joinedHTML = joinedHTML + json.wines[i].selectedId + json.wines[i].selectedName + '<br>';
                }
                $("span.selectedWine").html(joinedHTML);
                ;

                $(':checkbox[name="shopFilter"]').val(args);
            },
            error: function (data) {
                alert('error!!!');
            }
        });
    });
</script>

<script type="text/javascript">
    jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
    });

</script>

<link rel="stylesheet" href=' css/main.css' />
<link rel="stylesheet" href= "{{ STATIC_URL }}css/bootstrap.css"  />


<head>
<title>{% block title %}My amazing site2{% endblock %}</title>
<script type='text/javascript'>
	//<![CDATA[
	$(document).ready(function() {$('.filter').multifilter()})
	//]]>
</script>

</head>
<body>



    <img { alt="vivino" src="{{ STATIC_URL }}image/logo1.png")}} height="100" width="320">
    <div class="container-fluid">
	    <div class="row">
        {% block sidebar %}

                LEFT MENU
                <form method="get" id="query">
                <div class="col-md-3">
                    {{ shopFilterForm.shopFilter }}

                <span style="font-size:12px;">
                    <br>
                    名前：<br/>
                    {{ forms.search }}<br/>
                    価格：<br/>
                    {{ forms.lowPrice }}～{{ forms.highPrice }}<br/>
                    生産年：<br/>
                    {{ forms.exactYears }}<br/>
                    サイズ:<br/>
                    {{ forms.lowVolume }}<br/>
                    レビュー:<br/>
                    {{ forms.reviewAvarage }}<br/>
                    割引:<br/>
                    {{ forms.discount }}<br/>
                </span>

                {{ forms2.as_p }}
                    {% for field in forms2 %}
                    {{ field.total_form_count }}
                    {% endfor %}

            </div>
        {% endblock %}
            <div class="col-md-3 col-md-push-6">
            -------------------------
            <p id="clicktest" value="aaa">button</p>
            <p id="truncate" value="aaa">truncateSession</p>
                <span class="selectedShop"></span>
                <input type="submit" value="Search" />
                <span class="selectedWine"></span>
            -------------------------
                </div>
            </form>


        <div class="col-md-6 col-md-pull-3">
        {% block content %}
        {% endblock %}
        </div>


</body>

<script type="text/javascript">
    (function($) {
	$.extend({
		getParameter: function getParameter() {
			/// <summary>
			/// URLのパラメーターを取得
			/// </summary>

			var arg  = []//new Object;
			var pair = location.search.substring(1).split('&');
			for(i=0; pair[i]; i++) {
				var kv = pair[i].split('=');
				arg.push(kv[1]);
			}
			return arg;
		}
	});
})(jQuery);
    var args = $.getParameter();
    alert(args);
    $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: "/list/update_session/",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function (json) {
                var listShop = [];
                for (var keyString in json.shops) {
                    listShop.push({shopKey: keyString, shopName:json.shops[keyString].shopName, bottle:json.shops[keyString].bottle, sumPrice:json.shops[keyString].sumPrice});
                }
                listShop = listShop.sort(function (a, b) {
                    if(a.bottle < b.bottle) return 1;
                    if(a.bottle > b.bottle) return -1;
                    if(a.sumPrice < b.sumPrice) return -1;
                    if(a.sumPrice > b.sumPrice) return 1;

                });
                var lenShop = listShop.length;
                joinedHTML = "";
                for (var i = 0; i < lenShop; i++) {
                        joinedHTML = joinedHTML + "<input id='shopKey' name='shopFilter' type='checkbox' value=" + listShop[i].shopKey + ">"  + listShop[i].shopName + ' ' + listShop[i].bottle + ' ' + listShop[i].sumPrice +  ' '  + Math.floor(listShop[i].sumPrice/listShop[i].bottle) + '<br>';
                    }

                $("span.selectedShop").html(joinedHTML);

                var lenWine = json.wines.length;
                joinedHTML = "";
                for (var i = 0; i < lenWine; i++) {
                    joinedHTML = joinedHTML + json.wines[i].selectedId + json.wines[i].selectedName + '<br>';
                }
                $("span.selectedWine").html(joinedHTML);
                ;

                $(':checkbox[name="shopFilter"]').val(args);
            },
            error: function (json) {
                alert('error!!!');
            }
    });
</script>
</html>
