<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.extablefilter-latest.js"></script>
-->
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.2");</script>

<link rel="stylesheet" href=' css/main.css' />
<link rel="stylesheet" href= "{{ STATIC_URL }}css/bootstrap.css"  />


<head>
<title>{% block title %}My amazing site2{% endblock %}</title>
<script type='text/javascript'>
	//<![CDATA[
	$(document).ready(function() {$('.filter').multifilter()})
	//]]>
</script>

</head>
<body>
    <img { alt="vivino" src="{{ STATIC_URL }}image/logo1.png")}} height="100" width="320">
    <div class="container-fluid">
	    <div class="row">
        {% block sidebar %}
            <div class="col-md-3">
                LEFT MENU
                <form method="get">

                <span style="font-size:12px;">
                    価格：<br/>
                    {{ forms.lowPrice }}～{{ forms.highPrice }}<br/>
                    年代：<br/>
                    {{ forms.lowYears }}<br/>
                    容量:<br/>
                    {{ forms.lowVolume }}<br/>
                </span>

                {{ forms2.as_p }}
                    {% for field in forms2 %}
                    {{ field.total_form_count }}
                    {% endfor %}

                <input type="submit" value="Search" />
                </form>
            </div>
        {% endblock %}

        <div class="col-md-9">
        {% block content %}
        {% endblock %}
        </div>

</body>
</html>
